.study-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--bg-color);
}

.study-page img {
	width: 100%;
	display: block;
}

.study-page a {
	color: inherit;
}

.study-page ol {
	columns: 2;
	column-gap: 4rem;
	border-radius: 0.5rem;
}

.study-page li {
	--y: calc(100% - 2rem);
	display: grid;
	grid-template-columns: minmax(3.75em, auto) 1fr;
	gap: 0 0.5em;
	break-inside: avoid;
    page-break-inside: avoid;
	background: radial-gradient(circle at 30% var(--y), rgb(50 50 50), rgb(0 0 0));
	color: white;
	border-radius: 0.75rem;
	overflow: hidden;
	box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 0.17)
}

.study-page li + li {
	margin-top: 1rem;
}

.study-page li img {
	grid-column: 1 / 3;
	grid-row: 1;
	aspect-ratio: 1.8;
	object-fit: cover;
}

.study-page li::before {
	counter-increment: list-item 1;
	content: counter(list-item);
	font-weight: 700;
	font-size: 4.5em;
	letter-spacing: -0.125em;
	line-height: 1;
	color: white;
	grid-column: 1;
	grid-row: span 2;
	align-self: end;
	margin: 0 0 -0.15em -0.15em;
}

.study-page li span {
	grid-column: 2;
}

.study-page li span:first-of-type {
	font-size: 1.5em;
	padding-top: 1rem;
}

.study-page li span:last-of-type {
	font-style: italic;
	padding-bottom: 1rem;
}

@media (max-width: 1160px) {
    .navbar a {
        padding-bottom: 1rem;
        border-bottom: 3px solid transparent;
    }

    .navbar .home-nav::before {
        content: "🏠";
    }

    .navbar a {
        font-family: "Font Awesome\ 5 Free";
    }
}
@media (max-width: 1000px) {
    .courses-page {
        gap: 4rem;
    }
}
@media (max-width: 800px) {
    .study-page ol {
        columns: 30rem;
    }
}
@media (max-width: 510px) {
    .study-page ol {
        padding-top: 0;
    }
    .navbar a {
        margin: 3rem 0;
    }

    .navbar a:hover,
    .navbar a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}