@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #ffe1ab;
}

html {
    font-size: 62.5;
    overflow-x: hidden;
}

span {
    color: var(--main-color);
}

body {
    background: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.heading {
    text-align: center;
    font-size: calc(2rem + 3vw);
}

.logo {
    font-size: calc(2rem + .5vw);
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover {
    transform: scale(1.1);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar .home-nav::before,
.navbar .education-nav::before,
.navbar .contact-nav::before {
    width: 25px;
    height: 25px;
    font-weight: 600;
    color: var(--main-color);
}

.navbar .home-nav::before {
    content: "Главная";
}

.navbar .education-nav::before {
    content: 'Образование';
}

.navbar .contact-nav::before {
    content: 'Обратная связь';
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: calc(2rem + 1.4vw);
    color: var(--main-color);
    display: none;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: calc(1rem + .5vw);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    margin-top: 2rem;
}
.btn:hover {
    transform: scale(1.03);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}

.message-send-success {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: calc(1rem + .5vw);
    color: green;
    border: 2px solid green;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    margin-top: 2rem;
}

.message-send-error {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    font-size: calc(1rem + .5vw);
    color: red;
    border: 2px solid red;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    margin-top: 2rem;
}

section {
    min-height: 100vh;
    padding: 8rem 9% 5rem;
}

/* Раздел "Футер" */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a {
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}
.footer .social a:hover {
    transform: scale(1.2)translateY(-5px);
    background: var(--main-color);
    color: black;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a {
    color: var(--main-color);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease   ;
}
.footer ul a:hover {
    border-bottom: 3px solid var(--main-color);
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: var(--main-color);
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}